* {
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


section {
    background-color: #DADDB1;
    padding-bottom: 20px;
    /* height: 100vh; */
}


span {
    color: #CD5C08;
}

.span{
    color: #DADDB1;
}

.navbar-text{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #CD5C08;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.simbahan {
    border-radius: 20px;
    text-align: center;
}

.title {
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}

.about {
    text-align: start;
}


.goback {
    color: #DADDB1;
    background-color: #CD5C08;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.tenk {
    padding-top: 85px;
}