* {
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    background-color: #DADDB1;
    /* padding-bottom: 20px; */
    /* height: 100vh; */
}

html {
    scroll-behavior: smooth;
}

span {
    color: #CD5C08;
}

.navbar-brand{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #CD5C08;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.ako {
    border-radius: 50%;
}

.span{
    color: #DADDB1;
}

.home {
    /* background-color: #B3A492; */
    margin: auto;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

hr {
    padding-bottom: 60px;
}

.title {
    font-size: 50px;
    font-weight: 600;
}

.about {
    font-size: 20px;
    font-weight: 600;
}

.card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-img-top{
    height: 200px;
}

.goto {
    text-decoration: none;
    border: none;
    color: #DADDB1;
    border-radius: 5px;
    letter-spacing: 1.2px;
    padding: 7px;
    background-color: #CD5C08;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.col-sm-4 {
    padding-bottom: 20px;
}

.card-title {
    padding-bottom: 10px;
}

.title {
    padding-bottom: 20px;
}

.parola {
    padding-bottom: 32px;
}